ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}


li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
body {
  width: 100%;
  height: 100%;
    color:#337ab7 !important;
    margin-right: 40px!important;
    margin-left: 40px!important;
}
header {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.navbar-default {
  background-color: #337ab7 !important;
  color: #FFFFFF !important;
}
.navbar {
    color: #FFFFFF !important;
    background-color: #337ab7 !important;
}
.navbar-right
{    color: #FFFFFF !important;
    background-color: #337ab7 !important;

}
.navbar-default .navbar-nav>li>a {
    color: #FFFFFF !important;
   float: right;
}

.navbar-default .navbar-brand {
    color: #FFFFFF !important;

}
.list-group-item {
    margin-right: 40px!important;
}
p{
    color: #337ab7;
}
.btn-default {
    color: #337ab7!important;
    background-color: #fff!important;
    border-color: rgba(127, 82, 82, 0.5)!important;
}