<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
	  <div class="container-fluid">
		      <div class="navbar-header">
      <a class="navbar-brand">Universities of Saudi Arabia</a>
			  </div>
		     <div class="nav navbar-nav navbar-right">
	   {%if 'username' not in session %}
      <li><a href="{{url_for('login')}}"> login</a></li>
   		{% else %}
	   <li><a href="{{url_for('gdisconnect')}}" >logout</a></li>
				 {% endif %}
    </div>
	  </div>

</nav>

<header>
<div class="row">
</div>
</header>
</div>

